#sidebar {
    overflow: hidden;
    z-index: 3;
}
#sidebar .list-group {
    min-width: 400px;
    background-color: #333;
    min-height: 100vh;
}
#sidebar i {
    margin-right: 0px;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #333;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
    /*content: " \f0d7";*/
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 0px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
    background-color: #222;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 0px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item  {
    padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item,
#sidebar .list-group .collapse > .collapsing .list-group-item {
    padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
    padding-left: 40px;
}

@media (max-width:768px) {
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        overflow-y: auto;
        overflow-x: visible;
        transition: all 0.25s ease;
        transform: translateX(-45px);
        position: fixed;
    }

    #sidebar.show {
        transform: translateX(0);
    }

    #sidebar::-webkit-scrollbar{ width: 0px; }

    #sidebar, #sidebar .list-group {
        min-width: 35px;
        overflow: visible;
    }
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 190px;
        top: 0;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
    #logo{
        margin: 0px;   
        background-color: #333;
    }
    .sicons{
        margin-left: 0px;
    }
}

.collapse.show {
    visibility: visible;
}
.collapsing {
    visibility: visible;
    height: 0;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: 100%;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.logobg{
    background-color: #333;
    height: 100%;
}

.sicons{
    border: none;
    background-color: #ccc !important;
    background: rgba(1, 1, 1 , .01) !important;
}
@media (max-width: 768px){
    #logo{
        margin: 10px;   
        background-color: #333;
    }
    .sicons{
        /*margin-left: 5    px;*/
        padding-left: 2px;
        padding-right: 0px;
    }
    .socialbar{
        padding-left: 5px;
        margin-left: 0px;
    }
}
@media (max-width: 992px){
    .sicons{
        /*margin-left: 16px;*/
        padding-left: 5px;
        padding-right: 0px;
    }
    .siconwrap{
        /*margin-left: 16px;*/
        padding-left: 0px;
        padding-right: 0px;
    }
    .socialbar{
        padding-left: 0px;
    }
}
@media (min-width: 992px){
    .sicons{
        /*margin-left: 20px;*/
        padding-left: 0px;
        padding-right: 0px;
    }
    .socialbar{
        margin-left: 0px;
    }
}
@media (min-width: 1500px){
    .sicons{
        /*margin-left: 20px;*/
        padding-left: 10px;
        padding-right: 10px;
    }
    .socialbar{
        margin-left: 20px;
    }
}

.uwu{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
.uwu:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.uwu:hover:after { 
    width: 100%; 
    left: 0; 
}
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}
